.vscode/**
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
webview/src/**
webview/node_modules/**
webview/package.json
webview/package-lock.json
webview/tsconfig.json
webview/vite.config.ts
webview/index.html
node_modules/**
shared/**
extension/**/*.ts
**/*.map
assets/icon.svg
